<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


	<title>Cadastrar novo Carro</title>
</head>

<body>
	<nav class="navbar navbar-light bg-dark text-center">
		<div class="container-fluid d-flex justify-content-center">
			<img src="https://github.com/Stephmrqs/connectjobteste/blob/main/NavBar%20e%20Footer/5a28c52a4608b4.9337198515126213542869.png?raw=true"
				style="height: 80px; width: 10%; margin-top: 10px;">
		</div>
	</nav>

	<main class="container">
		<div class="row">
			<div class="col-sm-12">
				<p class="fs-1 text-center mt-3">Cadastrar novo Carro</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 shadow-lg p-3 mb-5 bg-body-tertiary rounded  table-responsive-md">
				<form method="POST" th:object="${carro}" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="nome" class="form-label"><strong>Marca</strong></label>
						<input type="text" class="form-control" id="marca" th:field="*{marca}">
					</div>
					<div class="mb-3">
						<label for="profissao" class="form-label"><strong>Modelo</strong></label>
						<input type="text" class="form-control" id="modelo" th:field="*{modelo}">
					</div>

					<div class="form-group">
						<label for="imagem"><strong>Foto do Carro</strong></label>
						<input type="file" class="form-control" id="imagem" name="fileCarro">
					</div>
					<br>
					<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
				</form>
			</div>
		</div>
	</main>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>

</html>